name: Linux
on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
      - name: Cache test models
        id: cache-models
        uses: actions/cache@v4
        with:
          path: $HOME/kronk/models
          key: ${{ runner.os }}-models-v3
      - name: Install kronk command
        run: |
          cd cmd/kronk
          go install .
      - name: Install Libs
        run: |
          mkdir -p $HOME/kronk/libraries
          kronk libs
      - name: Download test models
        if: steps.cache-models.outputs.cache-hit != 'true'
        run: |
          mkdir -p $HOME/kronk/models
          kronk pull https://huggingface.co/ggml-org/Qwen2.5-VL-3B-Instruct-GGUF/resolve/main/Qwen2.5-VL-3B-Instruct-Q8_0.gguf https://huggingface.co/ggml-org/Qwen2.5-VL-3B-Instruct-GGUF/resolve/main/mmproj-Qwen2.5-VL-3B-Instruct-Q8_0.gguf
          kronk pull https://huggingface.co/Qwen/Qwen3-8B-GGUF/resolve/main/Qwen3-8B-Q8_0.gguf
          kronk pull https://huggingface.co/ggml-org/embeddinggemma-300m-qat-q8_0-GGUF/resolve/main/embeddinggemma-300m-qat-Q8_0.gguf
      - name: Run unit tests
        run: |
          export GOROUTINES=1
          export RUN_IN_PARALLEL=0
          CGO_ENABLED=0 go test -v -count=1 ./tests
