name: Linux
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          df -h
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
      - name: Restore models cache
        id: cache-models
        uses: actions/cache/restore@v4
        with:
          path: ~/.kronk/models
          key: ${{ runner.os }}-models-v3
      - name: Install tools
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Install kronk command
        run: |
          cd cmd/kronk
          go install .
      - name: Install Libs
        run: |
          mkdir -p $HOME/.kronk/libraries
          kronk libs --local
      - name: Download test models
        if: steps.cache-models.outputs.cache-hit != 'true'
        run: |
          mkdir -p $HOME/.kronk/models
          kronk model pull --local https://huggingface.co/ggml-org/Qwen2.5-VL-3B-Instruct-GGUF/resolve/main/Qwen2.5-VL-3B-Instruct-Q8_0.gguf https://huggingface.co/ggml-org/Qwen2.5-VL-3B-Instruct-GGUF/resolve/main/mmproj-Qwen2.5-VL-3B-Instruct-Q8_0.gguf
          kronk model pull --local https://huggingface.co/Qwen/Qwen3-8B-GGUF/resolve/main/Qwen3-8B-Q8_0.gguf
          kronk model pull --local https://huggingface.co/ggml-org/embeddinggemma-300m-qat-q8_0-GGUF/resolve/main/embeddinggemma-300m-qat-Q8_0.gguf
      - name: Run unit tests
        run: |
          export GOROUTINES=1
          export RUN_IN_PARALLEL=0
          CGO_ENABLED=0 go test -v -count=1 ./sdk/security/...
          CGO_ENABLED=0 go test -v -count=1 ./sdk/tools/...
          CGO_ENABLED=0 go test -v -count=1 ./sdk/kronk/...
          CGO_ENABLED=0 go test -v -count=1 ./cmd/server/app/sdk/...
      - name: Run static analysis
        run: |
          CGO_ENABLED=0 go vet ./...
          staticcheck -checks=all ./...
          govulncheck ./...
      - name: Delete existing models cache
        if: github.ref == 'refs/heads/main' && steps.cache-models.outputs.cache-hit != 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh cache delete "${{ runner.os }}-models-v3" --repo ${{ github.repository }} || true
      - name: Save models cache
        if: github.ref == 'refs/heads/main' && steps.cache-models.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: ~/.kronk/models
          key: ${{ runner.os }}-models-v3
