name: Linux
on:
  pull_request:
  push:
    branches:
      - "**"
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
      - name: Cache test models
        id: cache-models
        uses: actions/cache@v4
        with:
          path: tests/models
          key: ${{ runner.os }}-models-v3
      - name: Download test models
        if: steps.cache-models.outputs.cache-hit != 'true'
        run: |
          mkdir -p ./tests/models
          curl -Lo ./tests/models/qwen2.5-0.5b-instruct-q8_0.gguf https://huggingface.co/Qwen/Qwen2.5-0.5B-Instruct-GGUF/resolve/main/qwen2.5-0.5b-instruct-q8_0.gguf?download=true
          curl -Lo ./tests/models/Qwen3-8B-Q8_0.gguf https://huggingface.co/Qwen/Qwen3-8B-GGUF/resolve/main/Qwen3-8B-Q8_0.gguf?download=true
          curl -Lo ./tests/models/Qwen2.5-VL-3B-Instruct-Q8_0.gguf https://huggingface.co/ggml-org/Qwen2.5-VL-3B-Instruct-GGUF/resolve/main/Qwen2.5-VL-3B-Instruct-Q8_0.gguf?download=true
          curl -Lo ./tests/models/mmproj-Qwen2.5-VL-3B-Instruct-Q8_0.gguf https://huggingface.co/ggml-org/Qwen2.5-VL-3B-Instruct-GGUF/resolve/main/mmproj-Qwen2.5-VL-3B-Instruct-Q8_0.gguf?download=true
          curl -Lo ./tests/models/embeddinggemma-300m-qat-Q8_0.gguf https://huggingface.co/ggml-org/embeddinggemma-300m-qat-q8_0-GGUF/resolve/main/embeddinggemma-300m-qat-Q8_0.gguf?download=true
      - name: Run unit tests
        run: |
          export LD_LIBRARY_PATH=$GITHUB_WORKSPACE/tests/libraries
          export MODEL_INSTANCES=1
          export GOROUTINES=2
          export RUN_IN_PARALLEL=0
          export INSTALL_LLAMA=1
          mkdir -p ./tests/libraries
          CGO_ENABLED=0 go test -v -count=1 ./tests
